@media (max-width:900px){
    .blogs-main-new{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr ;
    }
    .blogs-news-img-container{
        grid-row: 2;
    } 
    .blogs-news-info-container{
        grid-row: 1;
        grid-column: 3;
    }
    .blogs-posts-container .post-container{
        max-width: 45%;
    }
   .perfil-info-container .perfil-main-info{
        flex-direction: column;
    }
    .perfil-draft-container .draft-container{
        max-width: 45%;
        text-align: center;
    }
}


@media (max-width:600px){
    .blogs-posts-container .post-container{
        max-width: 95%;
    }
    .perfil-draft-container .draft-container{
        max-width: 95%;
        text-align: center;
    }
}